[2013-08-21 15:21] CircleCode opened #2 "callable not homogeneous in \Hoa\Websocket\Server::on"
according to http://preview.hoa-project.net/Literature/Learn/Core.html#Callable, `on` signature should be

[code]

By the way, this notation is dangerous, since it prevent you to add required parameters to the method, since using a callable force you to add `$able` argument as optional.

[2013-08-22 12:11] #2 closed, assigned to nobody

[2013-11-18 17:24] marmotz opened #5 "Undefined variable: spaces"
in https://github.com/hoaproject/Websocket/blob/master/Protocol/Hybi00.php#L87

[2013-11-19 07:44] #5 closed, assigned to nobody

[2014-03-11 21:24] marmotz opened #8 "It seems to not work via Android tethering"
I have an application with a Hoa WebSocket Server. When I connect my laptop to internet through my Android phone (tethering), i can open a connection... but no more.

When I go to http://www.websocket.org/echo.html (with same network configuration), all is working.

Do you think it could be a little problem in Hoa\WebSocket ?

[2014-03-15 15:44] #8 closed, assigned to osaris

[2014-07-03 12:38] Hywan opened #9 "Pipe is broken on Windows"
After some investigations with @camael24 about an issue encountered by Harssha on IRC, we have detected a broken pipe on Windows. In order to fix this issue, we have to call the `setStreamBlocking(true)` method on the socket client. Need to understand why before fixing this.

[2014-07-03 14:34] harsshav opened #10 "Tomcat7 websocket (server implementation) says: Hoa client's frames not masked. Closes connection with error."
When data sent from Hoa's client to Tomcat7's websocket server implementation, Tomcat closes the connection with error "PROTOCOL_ERROR : The client frame was not masked but all client frames must be masked", Closure code: 1002.

[2014-07-08 13:39] #10 closed, assigned to Hywan

[2014-07-08 13:47] harsshav opened #15 "Websocket closure: incompatible with tomcat's expectations(RFC6455)."
When Websocket client closes, RF6455 recommends that it to wait for closure message from server. But Hoa\Websocket does not wait. As a result of this, tomcat throws an error exception "java.io.IOException: An established connection was aborted by the software in your host machine" while replying to CLOSURE message from client.

[2014-07-09 12:32] #15 closed, assigned to Hywan

[2014-07-23 09:46] Geslain opened #18 "Problem when using broadcast() in the 'close' event"
Hi,

When i try to Use the broadcast() function on a close event in the server, if a client disconnect himself, the first remaining connected client gets disconnected and he's the only one to receive the broadcast message . Others don't receive anything.

[code]

To understand, here's an example :
- Client 1 connect himself to server
- Client 2 connect himself to server
- Client 3 connect himself

[2014-07-24 18:51] #18 closed, assigned to Hywan

[2014-08-08 07:49] #9 closed, assigned to Hywan

[2014-11-16 07:43] Hywan opened #23 "Add RFCs in Composer's keywords"
Related to https://github.com/hoaproject/Http/pull/9#issuecomment-63208329.

[2015-02-11 08:26] CircleCode opened #26 "add support for WAMP (Web Application Messaging Protocol)"
[WAMP](http://wamp.ws/) is getting more and more attention.
We should add support for WAMP into Hoa\WebSocket.

[2015-02-11 08:27] CircleCode opened #27 "add support for subprotocols"
websocket is the underlying layer for several protocols.
There should be a way for another library to *register* a sub-protocol with Hoa\WebSocket

the first sub-protocol could be wamp (see #26)

[2015-02-11 08:27] CircleCode commented on #26
once supported, Hoa should be added to http://wamp.ws/implementations/

[2015-02-11 08:32] Hywan commented on #26
Any volunteers? /cc @hoaproject/hoackers

[2015-02-24 08:55] Hywan opened #29 "Monitoring tools"
Do we need these tools?
Do they exist?
Do we need to develop them?

/cc @marmotz and @Nasga

[2015-02-24 12:46] Nasga commented on #29
At the moment we don't know what we have to monitor/dump/debug.

@marmotz : could you capture a http://www.sysdig.org trace when your web socket server is at 100% cpu ?

[2015-02-24 13:10] marmotz commented on #29
Nop 'cause I do not have access to server (Yeah, I know, it's bad, blablabla)

[2015-02-25 08:57] vonglasow commented on #29
Ok so @marmotz which part you can modify to know where we can try something. Have you access to log, or everything we can provide any more information.

[2015-02-25 09:00] marmotz commented on #29
I have logs and I can modify all my code

[2015-02-26 13:07] jignesh87 commented on #26
Hello..Hywan
I wanna streaming video is it posiible?.
Thanks.

[2015-02-26 14:09] Hywan commented on #26
@jignesh87 Absolutely, it is possible, but it is not the goal of `Hoa\Websocket` for several reasons. Firstly, the WebSocket protocol is based on TCP and this kind of network is not suitable for video streaming since it is a “connected” mode. You are rather likely to use UDP, which is a “not-connected” mode. Secondly, WebSocket is designed for full-duplex connections, which means that the server c

[2015-02-27 05:19] jignesh87 commented on #26
Thank you Hywan for reply. I will come on IRC soon.
Thank you again.:)

[2015-03-06 10:51] webspec2012 opened #30 "PHP Catchable fatal error: Argument 1 passed to Hoa\Websocket\Connection::_run() must be an instance of Hoa\Socket\Node, resource given, called in .../vendor/hoa/socket/Connection/Handler.php on line 194 and defined in .../vendor/hoa/websocket/Connection.php on line 241"

[2015-03-06 10:54] webspec2012 opened #31 "Notice: Undefined index: l2 in .../vendor/hoa/websocket/Protocol/Rfc6455.php on line 164"

[2015-03-06 10:55] webspec2012 opened #32 "Warning: stream_socket_recvfrom(): Length parameter must be greater than 0 in .../vendor/hoa/socket/Connection/Connection.php on line 700"

[2015-03-06 11:21] webspec2012 opened #33 "Internet Explorer incorrectly breaks off connection each 15 seconds, the server doesn't fulfill onClose event"

[2015-03-06 13:38] Hywan commented on #30
Excuse me, but what did you do exactly?

[2015-03-06 13:39] Hywan commented on #31
Excuse me, but what did you do exactly?

[2015-03-06 13:39] Hywan commented on #32
Excuse me, but what did you do exactly?

[2015-03-06 13:39] Hywan commented on #33
Excuse me, but what did you do exactly?

[2015-03-08 14:25] webspec2012 commented on #33
Sample server:

[code]

Sample Client:
http://fulledu.ru/websocket/

[code]

Result screenshot with Internet Explorer:
http://static.fulledu.ru/example_bug.png

onClose event not work...

[2015-03-09 09:50] Hywan commented on #33
Which version of Internet are you using?

[2015-03-09 09:59] Hywan commented on #33
I assign @camael24 on this one. He will try to reproduce.

[2015-03-09 10:18] webspec2012 commented on #33
"Internet Explorer 11"

The same bug can be reproduced if connection is broken off by the third party.
For example:

* At the client the Internet was gone
* Connection with the client was broken off by nginx on timeout
or etc..

[2015-03-09 12:50] Hywan commented on #33
Is it the same issue you reported #31, #32 and #30?

[2015-03-10 08:47] webspec2012 commented on #33
Possibly it is other mistakes, for certain I can't tell.

[2015-03-11 15:48] camael24 commented on #33
I try to reproduce tomorrow :)

[2015-03-12 15:27] camael24 commented on #33
I confirm the "bug", i reproduce it on IE11

[2015-03-12 15:48] webspec2012 commented on #33
Требуется что бы событие onClose срабатывало в любом случае, если клиент был отсоединен от сервера.

[2015-03-12 15:48] webspec2012 commented on #33
It is required that the event of onClose would work anyway if the client was disconnected from the server.

[2015-03-19 09:09] Hywan commented on #33
It's going to be difficult to debug, I don't have Windows. Any idea how could I do that?

[2015-03-19 09:17] camael24 commented on #33
With an VM ? and an demo key

[2015-03-19 09:18] camael24 commented on #33
https://www.modern.ie/fr-fr/virtualization-tools

[2015-03-19 09:43] Hywan commented on #33
Perfect! Thanks.

[2015-03-26 19:18] Hywan commented on #29
@marmotz Do you think this is still needed?

[2015-03-26 19:19] marmotz commented on #29
Not for me

[2015-03-27 07:14] Hywan commented on #29
@marmotz How did you solve your issue? Did you used a specific tool?

[2015-03-27 07:14] #29 closed

[2015-03-27 07:15] marmotz commented on #29
I dropped doctrine
Le 27 mars 2015 08:14, "Ivan Enderlin" <notifications@github.com> a écrit :

[2015-04-06 07:36] harikt opened #36 "Where are the Tests?"
Hi,

I was looking at http://wiki.hoa-project.net/projects:central:todo and noticed the tests are ticked. Am I missing to see where the Test resides ?

Thank you.

[2015-04-06 08:15] Hywan commented on #36
Hello :-),

We use http://autobahn.ws/testsuite/. So it's external to Hoa. My goal is to mimic this test suite, or to recreate a new one, with Hoa\Test in long term. In short term, I would like to add scripts to automate this.

Help are welcomed!

[2015-04-06 08:15] #36 closed

[2015-04-06 08:16] Hywan commented on #36
(I close the issue because I answered to your question but feel free to continue the discussion if needed!)

[2015-04-06 09:16] harikt commented on #36
Thanks. I will look how I can contribute the same.

*Hari K T*

You can ring me : +91 9388 75 8821

http://harikt.com , https://github.com/harikt ,
http://www.linkedin.com/in/harikt , http://www.xing.com/profile/Hari_KT

Skype  : kthari85
Twitter : harikt

On Mon, Apr 6, 2015 at 1:46 PM, Ivan Enderlin <notifications@github.com>
wrote:

[2015-04-13 06:46] Hywan commented on #32
Duplicated. See #33.

[2015-04-13 06:46] #32 closed

[2015-04-13 06:46] Hywan commented on #30
Duplicated. See #33.

[2015-04-13 06:46] #30 closed

[2015-04-13 06:47] Hywan commented on #31
Duplicated. See #33.

[2015-04-13 06:47] #31 closed

[2015-04-13 08:42] #33 closed

[2015-04-13 08:52] Hywan commented on #33
Here is what need to be considered.

IE sends an unsollicited `PONG` frame. The [RFC6455 says](https://tools.ietf.org/html/rfc6455#section-5.5.3):

Several implementations out there (Play, Spring, Go etc.) encountered this issue because receiving an unsollicited `PONG` was not expected and was creating a bug. In `Hoa\Websocket`, this is not the case because [we handle it as required by the RFC](ht

[2015-04-16 06:53] Hywan opened #38 "Explain how to send a message to a specific node in the documentation"
Hello :-),

This is the second or third time someone asks “How to send a message to a specific node”, on the support ML, IRC or even comments. I think we should update the documentation ;-).

[2015-06-22 09:56] QRMarketing opened #40 "Install question - Newbie"
I tried to follow all this composer stuff, but could get it to work. Not even sure this is what I want. Is there any easier way just to install the lib to get it to work. The install seems quite difficult. Any simple install help would be useful. Thanks.

[2015-06-22 11:07] Hywan commented on #40
Hello :-),

What did you do? Do you have composer install? Simply running:
[code]
Then you include the `vendor/autoload.php` file and you're ready to run all the examples.

[2015-06-22 11:27] QRMarketing commented on #40
Well first off it did not create composer it created composer.phar  But this does not work either. I created a composer.json file, but ... the command just hangs. But frankly the instructions are a bit sketchy. I am sure there are good reasons for all this. You probably have everything setup nicely and assume everyone else does too. LoL. It would be nice to just download a file, say include and go

[2015-06-23 13:13] Hywan commented on #40
Hello :-),

Composer is a pretty standard tool to install code. We rely on it because `Hoa\Websocket` has some dependencies (to `Hoa\Http` or `Hoa\Stream` to name a few). Try with the following command-line:
[code]
You will have everything setup in a minute. To install Composer, check this page: https://getcomposer.org/doc/00-intro.md#downloading-the-composer-executable.

[2015-06-24 11:32] QRMarketing commented on #40
Yes this the issue. You need access to the server to do all this stuff. Lots of Plesk errors and the hoster won't correct and even if you could get it would be a minefield of issues. I looked at standalone php servers, but none really work. Even the Php manual examples have commentators struggling with the bugs and errors. This is why websockets don't get used like Ajax. For the average programmer

[2015-06-24 15:44] harikt commented on #40
Hey @QRMarketing ,

Have you gone through http://hoa-project.net/En/Literature/Hack/Websocket.html

There is also a video http://hoa-project.net/En/Awecode/Websocket.html which is not in English, but still useful to understand and follow.

I do have worked with, and I am not sure what you are really facing . May be you could please send a PR how to improve according to what you think.

Thank you

[2015-06-24 16:24] QRMarketing commented on #40
I realize that in fact being an average programmer you could easily say, learn more. I have already looked at your links. It makes me feel how can I use this. If I were building the library I would do something more simple like the following. The coder just downloads the server_hoa php file and the JS lib and goes. But perhaps this is wishful thinking. But this is what people are looking for. Unfo

[2015-06-25 14:22] Hywan commented on #40
@QRMarketing Maybe you can run Composer locally, it will then grab all the dependencies for you, and then upload it on your server via FTP if the case you don't have any access. Thoughts?

[2015-06-29 14:30] shulard opened #41 "How to broadcast events to websocket server with URL wss://xxx.xx"
Hello,

I'm currently trying to implement slack bot stuff using PHP. I found that there is an awesome Real Time Messaging API which using websockets (https://api.slack.com/rtm).

I tried to implement a method which can follow the given steps :

* call : https://api.slack.com/methods/rtm.start
* extract the websocket URL (key url in the JSON)
* connect to the websocket
* broadcast message

I found

[2015-06-29 15:57] Hywan commented on #41
Hello :-),

Really good idea and interesting project! Thanks to bet on Hoa!

So, let's talk about the actor. Slack is the server and `Hoa\Websocket` is the client.

To connect to Slack, you read a `wss://` URI from the Real Time Message API. Good. But `Hoa\Socket` expects a `udp://` or `tcp://` scheme because `wss://` is too high-level :smile:. For WebSocket, we use TCP. So all you have to do is t

[2015-06-29 15:58] Hywan commented on #41
Maybe we should add a socket factory based on a `ws://` or `wss://` URI… I never thought it could be an issue but now I realize it can! Thoughts? If yes, please, open a new issue :smile:!

[2015-06-29 20:32] Oliboy50 opened #42 "How to deal with "disconnections" and "keep alive" stuff?"
I didn't find, in the documentation (including "hack book"), a way to properly deal with client disconnections (network issues, etc.) and how to reconnect then.

Have you some additional informations to share about any disconnection related things?

Thanks for the good work!

[2015-06-30 10:39] Hywan commented on #42
Hello :-),

Does this section help: http://hoa-project.net/En/Literature/Hack/Websocket.html#Listeners?

[2015-06-30 10:39] Hywan commented on #42
(Take a look at the `close` listener).

[2015-07-01 14:04] shulard commented on #41
Thanks for your feedback, I think I need to learn a little more about socket here ;)

I've updated my code to cut the URL and give the right part to the right object.

[code]

The socket connection can't be established... I always received the error :

[code]

Do you think it can be possible that Slack client is not compatible with the RFC "Rfc6455" ?
I did not find any details in the documentatio

[2015-07-01 15:21] Hywan commented on #41
If port is absent, use `80`. What happen with this?

Good news for the PR! I already started one but I will be very glad to help you instead, it's better for you!

[2015-07-01 16:20] shulard commented on #41
I've used `80` for the port I've got another error :

[code]

I can't figure if Slack refuse the connection or if it's a network problem...

[2015-07-01 20:32] Hywan commented on #41
What about 8080 (because of HTTPS)?hoaproject/Websocket wrote:I've used 80 for the port I've got another error :

Fatal error: Uncaught Hoa\Socket\Client::_open(): (1) Client returns an error (number 60): Operation timed out while trying to join tcp://ms177.slack-msgs.com:80

I can't figure if Slack refuse the connection or if it's a network problem...

—Reply to this email directly or view it on

[2015-07-01 20:47] shulard commented on #41
Same error with `8080`...

I also tried with 443, which is given [here](https://datatracker.ietf.org/doc/rfc6455/?include_text=1) as the default port for TLS communication... I receive an empty response...

[2015-07-02 04:47] Hywan commented on #41
Yes 443... Ok so... Let me try today pr tonight something. /cc @CircleCode can help too.hoaproject/Websocket wrote:Same error with 8080...

I also tried with 443, which is given here as the default port for TLS communication... I receive an empty response...

—Reply to this email directly or view it on GitHub.

Sent Using Firefox OS

[2015-07-05 13:29] Hywan commented on #41
Sorry, I am late. I have some other stuff to do but you are definitively on my to do list. Give me few more days please :-).

[2015-07-05 15:41] shulard commented on #41
Don't worry, take your time ;)

[2015-07-08 08:12] shulard commented on #41
I opened an issue at slack too to ask them about the problem... They tell me that there is nothing wrong from their part...

They try Hoa to connect to another websocket : echo.websocket.org and they get the same errors :

* Unsecure: tcp://echo.websocket.org => `Client cannot join`
* Secure: tcp://echo.websocket.org:443 => `HTTP status is not well formed` (empty response)

I hope this can help in

[2015-07-08 14:30] Hywan commented on #41
Thank you. It's really strange. Gonna test really really soon (today or tomorrow :-)).

[2015-07-22 07:44] #23 closed

[2015-07-22 07:44] Hywan commented on #42
@Oliboy50 I am closing the issue since I consider it as resolved, but if you don't find the information you need, please feel free to reopen it or ask more help (on the same issue).

[2015-07-22 07:44] #42 closed

[2015-07-22 07:46] Hywan commented on #40
@QRMarketing I consider this issue solved. If you still have an problem or if you consider it as unresolved, please feel free to reopen it or ask help!

[2015-07-22 07:46] #40 closed

[2015-07-22 08:01] Hywan commented on #41
First:
[code]

Second:
[code]

So it's good. However, `echo.websocket.org` does something really strange. I cannot ping the server. So when I try to connect with `Hoa\Websocket\Client`, I have a 404. Let's focus on one problem: Slack. I will try to take a look at it today (during lunch break probably).

[2015-07-22 12:32] Hywan commented on #41
Ok it works.
[code]

This script works perfectly well. Just call it this way:
[code]

I always did it this way, but you're right, we must provide a socket factory because… I lied a little bit. I edited the `Hoa\Websocket\Client::doHandshake` method to run `$connection->enableEncryption(true, $connection::ENCRYPTION_TLS);` after connecting the client.

Ok. Let me open an issue and develop a PR. You

[2015-07-22 12:33] Hywan commented on #41
Also, an example of responses I got from Slack:
[code]

[2015-07-22 12:49] Hywan opened #44 "Need a socket factory"
Will fix #41.

1. People are likely to use `ws://` or `wss://` directly. They don't understand that we must use a `tcp://` URL. I can't blame them. HTTP `Upgrade` is just… confusing.
2. Moreover, there is a need for automatic encryption, because with `wss://`, we need to instanciate a `Hoa\Socket\Client` object with `tcp://…:443` and then call `enableEncryption`. Most of the time with `ENCRYPTION_

[2015-07-22 12:56] Hywan commented on #44
See hoaproject/Socket#26 for the work on `Hoa\Socket`.

[2015-07-22 12:59] Hywan commented on #41
@shulard Go check #44 :-].

[2015-07-22 13:03] Hywan commented on #44
With this strategy, we ensure:
  1. No regression,
  2. No BC,
  3. Only enhancement.

Thoughts @hoaproject/hoackers

[2015-07-22 13:05] shulard commented on #41
@Hywan thanks for your detailed answer ! It works with the `Hoa\Websocket\Client::doHandshake` update ;)

I'll follow the #44 to view how it will be implemented, maybe I can help ?

[2015-07-22 13:07] Hywan commented on #41
@shulard If you want to make a PR, I would be glad :-). If you think you are able to do so, feel free! Just tell me because I will start in few hours.

[2015-07-22 13:11] shulard commented on #41
Ok so let me try, I'm starting in the afternoon ! Maybe I'll request reviews but I'll be happy to help ;)

[2015-07-22 13:13] Hywan commented on #41
@shulard I guess you will start on [`Hoa\Socket`](http://central.hoa-project.net/Resource/Library/Socket)?

[2015-07-22 13:15] shulard commented on #41
Yep ! I'll submit PR for review

[2015-07-22 13:15] Hywan commented on #41
Excellent :-]!

[2015-07-22 17:23] flip111 commented on #44
I find the code hard to reason about.

a Connection\Handler:
[takes a Connection](https://github.com/hoaproject/Socket/blob/master/Connection/Handler.php#L82)

a Connection:
[is a child of Stream](https://github.com/hoaproject/Socket/blob/master/Connection/Connection.php#L52) i couldn't find this class
[takes socket information](https://github.com/hoaproject/Socket/blob/master/Connection/Connectio

[2015-07-23 06:13] Hywan commented on #44
@flip111 Here is the class: [`Hoa\Stream\Stream`](http://central.hoa-project.net/Resource/Library/Stream/Stream.php).

The code is very clean actually. And very modular. [Check the UML diagram](http://api.hoa-project.net/a00706.html):
![UML diagram of Hoa\Websocket\Server](http://api.hoa-project.net/a02710_org.svg)

[More information about socket (connection) handler](https://github.com/hoaproject

[2015-07-27 06:50] Hywan commented on #41
I am closing this issue since the issue has been answered.

[2015-07-27 06:50] #41 closed

[2015-07-27 12:52] flip111 commented on #44
documentation looks good :+1:

[2015-07-27 13:40] Hywan commented on #44
@flip111 :-)

[2015-07-28 20:06] EtienneWan opened #46 ""Get rsv1: 0, rsv2: 1, rsv3: 0, they all must be equal to 0" with large arrays sent"
I'm trying to send big arrays filled with floats to Hoa\WebSocket\Server.
I wrote a client for testing purposes : https://squadclient-html5-etiennewan-1.c9.io/test.html

There is no problem with little arrays (with a length of 1, 10 or an hundred items)
When sending bigger arrays, the WebSocket connection closes unexpectedly without errors server-side and with this reason sent to the client :
`"Ge

[2015-07-28 20:31] EtienneWan commented on #46
Modified the "echo $data['message']" line, it is more interesting to count the number of items the server received and return it to the client. Updated in the first message.
When the server close the connection unexpectedly, I can see that a part of the data has been received (for example 942 of 1024 floats).

[2015-07-30 06:53] Hywan commented on #46
@EtienneWan With what browser are you testing?

[2015-07-30 06:55] Hywan commented on #46
@EtienneWan I just tested your link with Firefox (nightly) with payload of size 256, 800, 1000 and 10000, no error.

[2015-07-30 07:45] EtienneWan commented on #46
With Firefox 39, with a payload of 1024, I get this in the console:
[code]
The server echoes 941, than nothing else, as the connection was closed.

[2015-07-30 07:47] EtienneWan commented on #46
I saw your test with 1000 and 10000 in the server console, I don't understand why it did work with you ?!?

[2015-07-30 07:48] Hywan commented on #46
@EtienneWan It possibly is a bug in Firefox that computes corrupted packets. Test with Chrome, Safari or a newer version of Firefox?

[2015-07-30 07:49] Hywan commented on #46
@EtienneWan How long should I wait to get your error (I am testing with Firefox nightly)?

[2015-07-30 08:05] EtienneWan commented on #46
For me, it's always the first or second message which is partially received, and then the connection closed.
Tried to test with IE11 with 1024 of payload, get the same error:
[code]

[2015-07-30 08:15] EtienneWan commented on #46
Chrome 44: (payload 1024), the server closes connection on first message, received "952"
Safari: (payload 1024), the server closes connection on first message too, received "976"

[2015-07-30 08:21] Hywan commented on #46
What about Firefox nightly?

[2015-07-30 08:39] osaris commented on #46
No problem with a 1024 payload on these browsers :

* Mac Chrome Version 44.0.2403.89 (64-bit)
* Mac Safari Version 8.0.7 (10600.7.12)
* Windows Chrome Version 44.0.2403.125 m
* Mac Firefox 39.0

[2015-07-30 08:57] EtienneWan commented on #46
What can be the source of this error ? It seems not to be relative to the browser, not to be relative to the Internet conection (I'm testing at home and with SauceLabs browsers directly in cloud9, I'm always getting this error, even for the browser you said there were no problem).
This is akward, when I'm the only one who can reproduce as many times as I want.
I can see your tests on my server con

[2015-07-30 08:57] Hywan commented on #46
@EtienneWan Any proxy?

[2015-07-30 08:59] EtienneWan commented on #46
No proxy, for as long as I know. Any method to check if I got a proxy ?

[2015-07-30 09:08] EtienneWan commented on #46
A bit hardcore, but may Wireshark on the client side (maybe server-side too ?) help ?

[2015-07-30 09:17] EtienneWan commented on #46
Firefox nightly on Linux (SauceLabs, payload of 800): only one message received ("762"), then connection closed (without CloseEvent logged to the console)

[2015-07-30 09:21] Hywan commented on #46
@EtienneWan Did you test with another Internet connection or another computer?

[2015-07-30 10:16] EtienneWan commented on #46
Yes, from my desktop and my laptop on the same Internet connection, through SauceLabs (Virtual Machines for cross-browser testing in the cloud)

[2015-07-30 11:27] Hywan commented on #46
@EtienneWan Very strange :-/. Did you ask to anybody else around you?

Please @hoaproject/hoackers, can you test https://squadclient-html5-etiennewan-1.c9.io/test.html with `1024` and the console opened. If it does not fail, then it's good. Report results here please.

[2015-07-30 11:45] EtienneWan commented on #46
Tested with Chrome 44 on another computer at home a minute ago, it didn't fail with 1024 for a few minutes, but failed on the first message with 4096 (received "3795", then connection closed with no reason in the event)

De:"Ivan Enderlin" <notifications@github.com>
Date:jeu. j juil. PM à 13:27
Objet:Re: [Websocket] "Get rsv1: 0, rsv2: 1, rsv3: 0, they all must be equal to 0" with large arrays sen

[2015-07-30 11:54] Hywan commented on #46
@EtienneWan Works here :-(. @osaris?

[2015-07-31 13:18] camael24 commented on #46
Hi , i test your page and i give this with an payload 1024 :
- http://pastebin.com/AM4efQYX => Host : windows 8.1, Firefox 39, at work (no proxy)
- http://pastebin.com/xj1B2V2R => Host : windows 8.1, Chrome 44, at work (no proxy)

Cheers

[2015-07-31 14:20] Hywan commented on #46
So with Firefox 39 it does not work. @camael24 Could you try with another version (>39) of Firefox? Same question for @EtienneWan please.

[2015-07-31 15:18] EtienneWan commented on #46
With Firefox Developper Edition (41.0a2), payload 1024, only one message received : "977", but there is no close Event logged to the console.

[2015-08-03 05:51] Hywan commented on #46
@EtienneWan To clarify, `rsv1`, `rsv2` and `rsv3` are reserved fields for future extension of the WebSocket protocol. They must all be equal to 0 now because no extension exists yet. If we receive a packet with these values not set to 0, this is a bug from the **client**, not from the **server**. I would like to be more confident with the server and its ability to correctly parse a packet than cli

[2015-08-03 06:46] EtienneWan commented on #46
When I was reading the source code, I did understand the part where the RSV flags are set (server side), but not the part using the ASCII code to set those flags... From that, I understand the incoming packets on the server were influencing the server sent packets, but not if it was client's or the server's fault.

Because you know your library better than me, I believe you the server has no probl

[2015-08-04 12:33] Hywan commented on #46
I really want to help you, except if we can find the issue, but I am not able to reproduce and no one is able here (as far as I read the comments of this issue). Please yes, do a wireshark scan on the server side, and maybe, if possible, on the client side too.

[2015-08-04 15:37] EtienneWan commented on #46
Firefox 39 capture server side (frames 302 and 309) [https://preview.c9.io/etiennewan/squadserver-php/Firefox39Failed.pcap] (can't upload this file type on github issue)

302: the server says to the client the payload length received (here 514, I'm still sending 1024 of payload)
309: websocket closes connection

Sorry for the bunch of SSH frames

[2015-08-05 06:59] Hywan commented on #46
@EtienneWan I am trying something.

[2015-08-05 07:32] Hywan commented on #46
@EtienneWan Ok so I locally tried with 65537 (65535) is the last limit for huge message) and it works. I also re-run the test suite from http://autobahn.ws/ and it passed with success.

To sum up. The capture you did with WireShark only shows what the server sent back to the client but not what the server received. This is what I would like to know. Maybe the client only sends a valid packet but I

[2015-08-05 07:44] EtienneWan commented on #46
I don't know why wireshark doesn't show the client packets with Websocket level.
Is there any debug options to log all Hoa messages (or packets) to a file ?

[2015-08-05 08:10] Hywan commented on #46
@EtienneWan You mean, incoming data through network? No :-(.

[2015-08-05 08:44] EtienneWan commented on #46
If wireshark can't display properly client frames, if there is no log options, there is still a way to inspect left.
I can propose you to place some breakpoints on cloud9 and to help me investigate (with Skype/Teamspeak/Firefox Hello).

If you know why the client packets are not captured at web socket level with wireshark, please tell me :)

[2015-08-05 09:13] Hywan commented on #46
@EtienneWan Don't know. We can try a debug session tomorrow at 13h (Europe/Paris), thought?

[2015-08-05 13:41] EtienneWan commented on #46
OK for 13h tomorrow :)

[2015-08-05 14:37] Hywan commented on #46
Booked.

[2015-08-06 12:43] Hywan commented on #46
After a live debugging session, it appears this is an issue with the network. Nor the clients or the server are impacted. The client sends correct data and the server receives corrupted data. So a proxy, in the middle, makes something bad.

Or (I just got this idea), this could be about an encryption. @EtienneWan Is the connection encrypted?

[2015-08-06 12:44] Hywan commented on #46
Edit: If the connection were encrypted, I am not sure we were able to do the handshake, so… my proxy idea should be still valid.

[2015-08-06 12:46] EtienneWan commented on #46
During the debugging session, we were on HTTP and WS:// in order to live capture with wire shark
We weren't using https and wss

[2015-08-06 12:56] EtienneWan commented on #46
Because I didn't set a proxy manually and all tests said there wasn't *most probably* a proxy between me and the server, I'm going to have a talk with my ISP.

I discovered all my computers at home who are using my ISP's DNS servers don't have any problem (aka sending 1024 floats works). My computer I used for the tests is using Google's DNS servers.
Not sure if this is related to my problem, but

[2015-08-06 13:03] Hywan commented on #46
Thanks.

[2015-08-12 09:13] EtienneWan commented on #46
I think you can close this issue, I think no more testing is relevant to bring something new and relevant to this bug.
I'll tell you if I got problems with another library (in this case, it will be my computer's fault), but for the moment, I think that there is nothing more to do.
Closing this issue... :)

[2015-08-12 09:13] #46 closed

[2015-08-12 10:02] Hywan commented on #46
Keep us updated please!

[2015-08-21 13:29] EtienneWan commented on #46
I don't know if it is needed to reopen this issue, but I got updates.
I'm Using node module ws to make an analog WebSocket server and to do some tests.

[code]
(note that the commented line caused me problems, such as 'TypeError: Invalid non-string/buffer chunk' thrown in the console)
Without the server sending a response to the client, I can send arrays to the JS websocket implementation... 256 t

[2015-08-25 06:20] Hywan commented on #46
Thank for the heads up!

[2015-08-25 19:10] Oliboy50 opened #51 "Supports WSS (encrypted connection to run with HTTPS server)"
What is the current state of the support of encrypted websocket connection?

What is the typical solution to run a websocket server wich is able to run an encrypted connection (which will be able to support a `new WebSocket('wss://my.host.com')` in javascript within a HTTPS connection) ?

Actually, the only thing I do in PHP is `run()` a Hoa WebsocketServer on `tcp://my.host.com:8889`.

[2015-08-26 05:47] Hywan commented on #51
Please see https://github.com/hoaproject/Socket/pull/27 and https://github.com/hoaproject/Websocket/pull/47. This is a work in progress, almost done.

[2015-08-26 05:48] #51 closed

[2015-09-24 19:37] YnievesDotNet opened #52 "Creating topics for classified of broadcasting message..."
# Creating topics for classified of broadcasting message
Hello again.
Other things is about the creation of topics, of thread for sending message at one or more groups of recipients, for example, create some tags, example, `notify.admins`, `chat.public`, `chat.private.{thread_id}`, etc, and opened this threads from the javascript client, and validate this connect using php. For example:
[code]
and

[2015-09-24 19:37] YnievesDotNet opened #53 "Injecting data at the WebSocket/Node object..."
# Injecting data at the WebSocket/Node object
Hello, I try including this library at my project in Laravel. In this moment I can manage the running of server from Laravel using Artisan command, but I need vinculate one or some nodes for each client, when the client connect at the system.

Other things what I need is configure the listeners on one abstract class, but inside the server connection, w

[2015-09-25 17:10] YnievesDotNet opened #54 "Problem trying do Custom Node"
In my project I try do this(only for test).
[code]
Now, how to I can connect this class with my class `FourStreamServer`. I try thats:
[code]
The server start OK, but when the client intent connect, server shutdown with this message:
[code]
How I fix this..

Thanks

YnievesDotNet

[2015-09-28 06:00] Hywan commented on #52
Hello :-),

Is it a new feature request? If so, I reckon this is not the goal of the `Hoa\Websocket` library to implement this. We do support the WebSocket protocol. Consequently we have listeners for `message`, `binary-message` etc. Channels are not part of the WebSocket protocol. However, it may be related to https://github.com/hoaproject/Websocket/issues/26?

[2015-09-28 06:06] Hywan commented on #53
Hello :-),

To be frank, I didn't understand your questions.

I understand there is 2 questions.

Good \o/!

What “vinculate” means?

This is a PHP related question, and no, it's not possible to change the parent class of an instance. So maybe it is better to expose/explain your workflow instead.

You want to write a helper? Just write a function or a trait to connect a client, send a data and clo

[2015-09-28 06:08] Hywan commented on #54
Hello :-),

You cannot use `ClientNode` as a class string-identifier since this is an alias (`use`). If you have a recent PHP version, you can write:
[code]
or, if not, you have to use its FQCN (Fully-Qualified Class Name):
[code]

[2015-09-28 06:08] #54 closed

[2015-09-28 08:59] shulard commented on #44
Hello,

We've introduced the handling of `wss://` and `ws://` transport layers in PR #47. We've also introduced a new `Websocket\Client` and `Websocket\Server` behaviour (construct from String) in the PR #50.

### Pull Request #47

The PR #47 use the work done on the Socket library in the PR hoaproject/Socket#27 with the introduction of `Socket\Transport` wrapper handlers.
The `Socket\Connection::

[2015-09-28 17:20] YnievesDotNet commented on #53
Hello, thanks.

Vinculate means assign one system user a one or more node in the servers.

For example, if I need send one message at one specific client connected at the system, ex, admin user logged at the laravel system, know wath is yours nodes in the server.

Thanks.

[2015-09-28 17:21] YnievesDotNet commented on #53
User::id (1) = Node::id (asdasdqwe)

[2015-09-28 18:56] YnievesDotNet commented on #52
exactly, this is a feature wamp, and is related at issue 26. send one message at one specific client or group of clients. Like as Private Chat or Grouped Broadcasting, etc.

Thanks

YnievesDotNet

[2015-09-28 18:56] YnievesDotNet commented on #53
I have try other things, and in this moment, I have one database table with this relations, and I can get all nodes ID for one client.

Now, I want send one message at one node, from my client in php, using websocket/client php library, for example, doing this:
[code]
How I can define this line for correct function. The node ID is in `$fstck->websocket_id` .

Thanks.

[2015-09-28 20:24] YnievesDotNet commented on #54
This work fine.

Thanks.

YnievesDotNet

[2015-09-28 20:25] YnievesDotNet commented on #53
It's that possible?

[2015-09-28 20:40] YnievesDotNet commented on #53
How I can connect at one node specific?

Thanks. YnievesDotNet

[2015-09-28 21:08] camael24 commented on #38
Like here #53

[2015-09-28 21:11] camael24 commented on #53
Hello,

I try to understand on IRC but i really need to go to sleep :D (Paris timezone power)
You want to send an data to an specific node `$data = 'hello world';`

So you need to have an identifier in your custom node i assume its the method `getMyIdentifier`.
You need to do an loop on all your node for find the **specific** node you will get something like that :
[code]

You need to test this i

[2015-09-29 06:10] Hywan commented on #53
We also have the `broadcast` method (https://github.com/hoaproject/Socket/blob/8c57600d21582b7b4256590de6830839ac4555f1/Connection/Handler.php#L313-L341). But we opened an issue to document it (see #38), as @camael24 noticed.

[2015-09-29 06:10] #53 closed

[2015-09-29 06:10] Hywan commented on #38
@camael24 :+1:

[2015-09-29 06:12] Hywan commented on #52
This can be accomplished by using nodes and the `broadcastIf` method. It can also be down by using WAMP but this latter protocol is not implemented yet.

[2015-09-29 06:18] Hywan commented on #44
Let's start by `Hoa\Socket` then :-). And thanks for the summary!

[2015-09-29 07:06] camael24 commented on #53
Broadcast its for send data on all node no ? he want send data on *one* node, so its `broadcastIf` method no ?

[2015-10-27 13:53] #52 closed

[2015-11-02 07:29] mspmakk commented on #38
Hello Hywan,

As u say send a message to a specific node use " broadcastIf " method.

but my question is what should i have to pass in to the first argument in that method.
broadcastIf ( \Closure $predicate, $message ){...}
I didn't get any idea about it.
sorry i'm new to this library.

thanks,

[2015-11-02 11:32] Hywan commented on #38
@mspmakk Hi! What do you want to do exactly?

[2015-11-02 11:55] mspmakk commented on #38
I am working on some notification updates module.
When I post some thing then other related user (friends) should get notified.

In short send some data to particular user.
so i though that it should be possible through " broadcastIf " method.

[2015-11-17 18:24] medooch opened #55 "Https Symfony2"
Hi all,
Does this bundle support ssl certificate ?

I have create my server push, when i communicate my app with the server via http, its work perfectly.
But it's not the case with https !

What can i do ?
i use Mamp Pro on localhost, this is the url of my app, https://ispace:8890/admin/ .
Thanks

[2015-11-17 18:31] Hywan commented on #55
@medooch Hello :-). Yes, since `Hoa\Socket` supports encryption, but there is several under-review PRs (#44 & co.) to ease this usage (with `wss://` directly). If you can wait 1 week maximum, you will have this feature automatically.

[2015-11-17 18:36] medooch commented on #55
Hi hywan,
This is my connection to server push
var host   = 'wss://*.*.*.*:port';
Try{
socket = new WebSocket(host);
//
}
catch(e){
console.log(e);
}

this is the error that ive got WebSocket connection to 'wss://*.*.*.*:port' failed: Error in connection establishment: net::ERR_CONNECTION_CLOSED

[2015-11-18 07:35] Hywan commented on #55
@medooch How your server looks like?

[2015-11-18 07:35] Hywan commented on #55
See https://github.com/hoaproject/Websocket/issues/51 too.

[2015-11-18 10:32] medooch commented on #55
@Hywan this is the url of my server : http://push.accessleader.com/WebSocket/, my server push is run successfuly with http, but it's not with https : https://push.accessleader.com/WebSocket/# .

[2015-11-18 13:47] Hywan commented on #55
@medooch You have two sides to consider:
1. The client, which is written in Javascript in your cases, and use `ws://` and `wss://` schemes,
2. The server, which is written in… PHP I guess? And I guess with `Hoa\Websocket`? `Hoa\Websocket` is a PHP library to write Websocket clients and servers.

Your client seems correct. What about your server? Can we some information on it?

[2015-11-20 23:18] tomzx opened #57 "Call to a member function send() on null"
I have setup a small websocket server which only dispatches message to all other connected clients. I use client code available @ http://hoa-project.net/En/Awecode/Websocket.html to connect to the server with `ab`: `ab -c 50 -n 500 http://localhost/client-push.php`.

However, it appears that as soon as I do that, the websocket server crashes with the following error:

PHP Fatal error:  Call to a m

[2015-11-26 02:40] tomzx opened #58 "Many messages are lost if there are concurrent clients sending them"
Hello,

I've been playing with many concurrent clients calling a server so that it rebroadcasts the sent message to other clients. However, the sad news is that it appears I'm losing almost 20%-30% of those messages when I have 5 or more concurrent connections.

A simple test case is as follow:

**server.php**

[code]

**client.php**

[code]

**test command**

[code]

Here's what I see at the end

[2015-11-26 08:29] Hywan commented on #58
Hello!

Thank you for the very detailled report! We are going to investigate.

[2015-11-26 08:39] Hywan commented on #58
@tomzx On what platform are you testing? Moreover, what is the VM you're using (with the version please)? Because, I tried and here are my results:

| Concurrency | messages retransmitted/connections | messages delivered overall |
|---|---|---|
| 1 | 500/500 | 100% |
|2| 500/500 | 100% |
|3| 500/500 | 100% |
|4| 500/500| 100% |
|5| 500/500 | 100% |
|100| 500/500 | 100% |
|500| HTTP server fail | N

[2015-11-26 08:40] Hywan commented on #58
This is not because I can't reproduce that your ideas are bad. They are smart and we are going to implement them I guess.

[2015-11-26 12:29] Metalaka commented on #58
500/500/500 on Win x64, php 5.5, apache 2.4.9, websocket@2.15.08.05.

[2015-11-26 14:08] tomzx commented on #58
@Hywan I've tested on Windows 7 x64, php 5.6.4, apache 2.4.7. I used `ab` from cygwin.

@Hywan, @Metalaka What platform did you use? Where was `ab` run from?

Furthermore, how are you getting those 100% results? Have you patched the code with any fixes or it is working flawlessly for both of you? I'm asking, considering the 2 PR/fixes that are currently being investigated should generally trigger

[2015-11-26 20:13] Metalaka commented on #58
For my result, I simply`composer require hoa/websocket` (currently: 2.15.08.05) and copy past your code (so doesn't include your 2 PR).

The test isn't related to https://github.com/hoaproject/Websocket/pull/57 since here we don't broadcast any messages.

[2015-11-27 08:36] Hywan commented on #58
@tomzx Exactly like @Metalaka. I have been testing on Mac OS X (Yosemite). Did you try with your 2 PR checked out?

[2015-11-27 14:39] tomzx commented on #58
@Hywan I did as the server would crash pretty much right away otherwise.

[2015-11-27 14:52] Hywan commented on #58
@tomzx Hmmm… This is very strange. So you have the same configuration than @Metalaka. You didn't try with `hoa/websocket@latest` because it crashes immediately. You did try with your 2 PR applied. Maybe @camael24 can reproduce. Help?

[2015-11-27 23:54] salaman commented on #44
Any updates on this? In #55 you said the feature would be merged within a week, however there's been no updates on the PRs since October. Would love to start using it!

[2015-11-28 13:00] camael24 commented on #58
Hi i test on my computer windows 10 64bits with php 5.6.15 apache and ab

I have this result :
[code]

and :
[code]
      "hoa/websocket": "^2.15"

Cheers

[2015-11-29 04:59] tomzx commented on #58
Alright guys, I made a mistake in my initial post. This should be the server.php code you should test with:

[code]

[2015-11-30 07:00] Hywan commented on #44
@salaman Like I do :-). Be patient, it will be closed soon. I hope this week or next week, I promise ;-).

[2015-11-30 07:01] Hywan commented on #58
@camael24 Thanks for your time and your feedback!

[2015-11-30 07:05] Hywan commented on #58
@tomzx Sorry…

| Concurrency | messages retransmitted/connections | messages delivered overall |
|---|---|---|
| 1 | 500/500 | 100% |
|2| 500/500 | 100% |
|3| 500/500 | 100% |
|4| 500/500| 100% |
|5| 500/500 | 100% |
|100| 500/500 | 100% |
|500| HTTP server fail | N/A |

[2015-11-30 08:06] Metalaka commented on #58
@Hywan with this `server.php` and both PR I've similar results that @tomzx

[2015-11-30 08:07] Hywan commented on #58
@Metalaka What about with no PR?

[2015-11-30 08:08] Metalaka commented on #58
@Hywan the error described in https://github.com/hoaproject/Websocket/pull/57

[2015-11-30 12:02] Hywan commented on #58
@Metalaka If you can reproduce, that's great. Please, try to find in which order we have to fix these issues.

[2015-11-30 12:02] Hywan commented on #58
@Metalaka And ask help if needed!

[2015-11-30 12:28] Metalaka commented on #58
@Hywan I'll try this week(-end)
@tomzx do you have similar results with OSX ?

[2015-12-01 00:36] tomzx commented on #58
@Metalaka Yes, similar results on Mac OS X, PHP 5.6.16 and Apache 2.2.22.

[2015-12-01 07:57] Hywan commented on #58
This is possible I can't reproduce because of build-in HTTP server of
PHP. I reckon it is not really asynchronous.

[2015-12-01 12:21] tomzx commented on #58
@Hywan Indeed, php built-in server is single threaded afaik.

[2015-12-01 12:25] Hywan commented on #58
@tomzx Sorry for the noise then :-(.

[2015-12-03 10:16] camael24 commented on #58
I will test it this week end :/ sorry no time before :/

[2015-12-06 22:16] Hywan commented on #44
`Hoa\Socket` part is merged. Now let's go for `Hoa\Websocket` patches.

[2016-01-11 12:59] Hywan commented on #58
What the status of this issue?

[2016-02-09 15:27] #55 closed

[2016-02-10 07:41] Hywan commented on #44
@salaman Almost here! Only #50 remains open. Will be closed very soon (in a couple of days).

[2016-02-15 07:45] Hywan commented on #44
Done!

[2016-02-15 07:45] #44 closed

[2016-02-15 07:45] Hywan commented on #58
@Metalaka Any news?

[2016-02-15 20:39] Metalaka commented on #58
@Hywan I'll take a look this week but like the last time I had tried it will be hard to find the issue source. Since the issue only occur in high speed/concurrent contexte, debug that isn't an easy task…

[2016-02-16 08:14] Hywan commented on #58
@Metalaka Do you think it is related to #57?

[2016-02-16 19:11] Metalaka commented on #58
@Hywan This issue seem related to the server broadcasting mechanism(since whitout broadcast, all messages are received), so because https://github.com/hoaproject/Websocket/pull/57 is about broadcasting message on a non ready node, it may be related.

[2016-02-24 06:57] Hywan commented on #58
@tomzx Can you retry with `hoa/websocket@dev` and `hoa/socket@dev` please? I hope everything should be fixed now thanks to the hard work of @Metalaka!

[2016-02-24 10:35] tomzx commented on #58
The good news is that the server doesn't appear to crash anymore.
The bad news is that I'm still seeing messages being dropped.

Updated server test code:
[code]

**connection 500**
connection closed 311
**error 188**
**message 312**
**connection closed 312**

As one can see, there are `#error (188)` + `#connection closed (312)` = `#connection (500)`.

If I add `$client->close();` to the client co

[2016-02-24 11:22] Hywan commented on #58
You're right when you're saying that this is a very tricky scenario because your clients connect, send a message (that is broadcasted) and then disconnect without waiting an answer. So the server is most of the time dealing with disconnected client while broadcasting the messages.

**No longer having errors is a nice news**! The socket and websocket connections are most robust. Great. It's strange

[2016-03-22 21:24] Metalaka commented on #58
When there is an error while processing a node we try/force to close the current connection and then send a error event but we never send close event. The delta between open & close come from here.

https://github.com/hoaproject/Websocket/blob/ad7b3902528a2c1fe79154169c5037abd4311bec/Connection.php#L468

_____
I must always find why every messages isn't handled/counted.

[2016-03-23 05:46] Hywan commented on #58
Good luck!

Any volunteer to help @hoaproject/hoackers?

[2016-04-09 13:31] pietervogelaar opened #61 "Query string parameters seem unsupported?"
It seems that query string parameters are unsupported. If I have a websocket URL like:

[code]

I get an error

[code]

The query string is not in the HTTP request, but it is required. For example, if I test it on http://www.websocket.org/echo.html it works just fine with the complete url but not when the query string part is stripped.

This is a part of my code at the moment:

[code]

What can I

[2016-04-10 19:05] Hywan commented on #61
Hello :-),

Good idea and thank you for the feature request. I reckon you can try a PR by yourself (if you want to!). The `ws://` and `wss://` URI are transformed into `tcp://` and the line you might want to change could be https://github.com/hoaproject/Websocket/blob/ad7b3902528a2c1fe79154169c5037abd4311bec/Socket.php#L121. Do you want to try a PR?

[2016-05-09 11:43] Hywan commented on #61
Without no answer from your end, I decided to make a PR :smiley:. The review should start very quickly and the merge will happen as fast as possible because this is a bug fix.

[2016-05-09 11:58] #61 closed

[2016-05-09 12:01] Hywan commented on #61
A new snapshot has been released: https://github.com/hoaproject/Websocket/releases/tag/3.16.05.09. Thanks!

[2016-05-20 06:52] Hywan opened #64 "Migrating or writing test suites"
Hello :-),

Currently, these are 2 test suites: A unit one and an integration one.

The unit test suite is very smalll and does not cover everything. There is no test suite to migrate. We have to write it.

The integration test suite of the one provided by [Autobahn.ws](http://autobahn.ws/testsuite/). This is great but not easy to deploy and use. Moreover, not all test cases are interesting for us

[2016-05-24 08:07] EtienneWan commented on #58
This issue looks a bit like the one I opened nearly a year ago
https://github.com/hoaproject/Websocket/issues/46 (Also on my issue, @Hywan couldn't reproduce)

Until today, I haven't tried again my test case. But if it can help for this issue, I will.
(Quick explaination: I (one client) was trying to send heavy messages to the Hoa Server I set up, and each time I was ending up with message partial

[2016-05-24 08:13] Hywan commented on #58
As far as I remember, this is not the same issue because there was no concurrency, isn't it?

[2016-05-24 14:50] EtienneWan commented on #58
Yes, this is not the same issue: there was no concurrency.
But there were the same symptoms: message partially received by both the server and the client, followed by a connection close.

I only used the Server part, the client was written in JavaScript and ran in browsers.
Could be unrelated, but as I read this issue from top to bottom and it seemed to me there are some similitudes.

[2016-05-25 06:02] Hywan commented on #58
Messages are not partially received and I don't see any similitudes but you think so, let dive in. It does not change our priority regarding this issue. If you still experiment your issue after this one will be fixed, then we could restart trying to fix yours.

[2016-05-25 20:23] Metalaka commented on #58
Hi,
I post this update because I'll likely can't work on this for few weeks.

I have identified a use case which is related to this issue:

Actors:
- Server : S
- Client 1 : A
- Client 2 : B

[code]
So, I think it's when we send a message to a node before we had read the message that the node has sent that the errors are thrown. But, I don't even know if it comes from the server or client side.

*

[2016-05-31 09:11] Hywan commented on #58
Thanks for the scenario! I will try to take the lead on this one so. When will you be able to come back?

[2016-06-13 02:47] hhxsv5 opened #66 "Read remote address leads to a segfault"
Hello, how to get  the client ip address?

$bucket->getSource()->getConnection()->getRemoteAddress() ?

[2016-06-13 07:20] Hywan commented on #66
Hello,

Yes, this is correct, but you must call `Hoa\Socket\Connection\Connection::considerRemoteAddress` before, because this is not automatic (thank you C API \o/).

[2016-06-14 03:49] hhxsv5 commented on #66
Thanks for your answer, I did as you said but I got an error **`[1]    1701 segmentation fault`**.

[code]

[2016-06-17 08:08] Hywan commented on #66
It seems to be an error from PHP… Damn. Can you call the `considerRemoteAddress` method just after the constructor?

[2016-06-17 08:09] Hywan commented on #66
We should also report this bug in the Zend Engine. Could you provide a minimal working example please?

[2016-06-17 09:42] hhxsv5 commented on #66
The error still exists when I call the `considerRemoteAddress ` method after the constructor.

My code:

[code]

Thank you.

[2016-06-17 11:58] Hywan commented on #66
A segfault comes from the VM. What PHP VM and at what version are you using please?

[2016-06-17 12:09] hhxsv5 commented on #66
PHP Version 5.6.19
Docker PHP-FPM: php:5.6-fpm

[2016-06-17 12:35] Hywan commented on #66
I found where the bug comes from. This is clearly from the VM. Digging a little bit more.

[2016-06-17 12:40] Hywan commented on #66
Tested with PHP 5.5 and it works. This is a regression.

[2016-06-17 12:45] hhxsv5 commented on #66
Cool !
It's bug of PHP 5.6.19, please see [here](http://php.net/ChangeLog-5.php#5.6.20).
`Fixed bug #71596 (Segmentation fault on ZTS with date function (setlocale)).`

[2016-06-17 12:51] Hywan commented on #66
This bug is still present since 5.6. So this is another one. And it's not related to date :-).

[2016-06-17 12:55] Hywan commented on #66
Bug reported, https://bugs.php.net/72439.

[2016-06-17 13:02] Hywan commented on #66
I have started a new thread on php-internals, https://marc.info/?l=php-internals&m=146616838528035&w=2.

[2016-06-17 13:16] hhxsv5 commented on #66
It seems that this bug has not been solved yet, I reappear the error on PHP 7.0.7. I will keep concerning it.
Finally,  many thanks for your help.

[2016-06-20 07:53] Hywan commented on #66
@laruence has submitted a patch that fix this segmentation fault, https://git.php.net/?p=php-src.git;a=blobdiff;f=main/streams/xp_socket.c;h=90c5df0b8aa9f80c98197783f258e3473404a471;hp=995e90f98d7654dcaaa909b9bb7df5c3570fe4c5;hb=c4c1993af63fe4c0d19d44ebbd38996471c141af;hpb=ed0ec669968420ad0fa942c92d92b69a95e9beb1. https://bugs.php.net/bug.php?id=72439 is now marked as closed. I guess we can close

[2016-06-21 12:06] hhxsv5 commented on #66
Yeah, thank you.

[2016-06-21 12:06] #66 closed

[2016-06-21 12:24] Hywan commented on #66
I did some tests to see if we can avoid the segmentation fault with pure PHP (as we did in [`Hoa\Iterator`](http://central.hoa-project.net/Resource/Library/Iterator)) but without any success, sorry for that 😞. Also, sorry for not having detected this regression in Zend Engine before, we would have been able to raise it before it officially lands 😞.

[2016-07-05 20:08] #64 closed

[2016-07-05 20:13] Hywan commented on #58
@tomzx Can you retry with the latest release (https://github.com/hoaproject/Websocket/releases/tag/3.16.07.05) please? It possibly contains bug fixes or enhancement that could solve your issue.

Thanks!

[2016-07-05 23:20] tomzx commented on #58
I've try multiple times (25+ or so tests), and it seems the issue is still present. Furthermore, it appears that the amount of errors can sometimes go over the amount of connections that were established (503 errors vs 500 connections)

Here is my composer.lock, FYI [composer.lock.txt](https://github.com/hoaproject/Websocket/files/348809/composer.lock.txt)

[2016-07-06 06:45] Hywan commented on #58
Thank you very much :-). I was encoutering the issue mentionned by @Metalaka some days ago. The good news is this seems pretty easy to reproduce isolated. Hope to be back with a new patch soon.

[2016-07-31 17:22] Shkarbatov commented on #58
Hello, Hywan, what about patch? :)

[2016-07-31 18:24] Shkarbatov opened #69 "Sending messages from server to clients"
Hi, I have some problems, unfortunately I can't find this in documentation, so hope you will help me.

I have own API, that receive message and this message I need to show.

Incoming message from API, I saved in DB on one day.

Message can be for everyone users, for some group or just for one.

I send user data from javascript to the socket once, when a page is rendered.

    socket.send(JSON.stri

[2016-08-01 15:44] Hywan commented on #69
Hello :-),

So let's start by question 2 (the first one, because you have two 2 😉). Each connection is represented by a node. Maybe this Section of the documentation might help you, http://hoa-project.net/En/Literature/Hack/Websocket.html#Customized_node.

Next, question 1. PHP is synchronous by nature. You cannot listen to incoming message while having another execution where you send messages. T

[2016-08-01 18:45] Shkarbatov commented on #69
**1)** I think you may have misunderstood me, will try to explaine.
- when page is rendered I create connection with socketServer (send user id to server)
- SocketServer runs under Supervisord, with while(true){} loop
- SocketServer iterate each node, and checking message for each user by his id received at the first step
- I have 2500 clients that working at the same time
Thats what I need.

**2)

[2016-08-02 08:43] shulard opened #70 "Problem when the connection is closed to early for the client to know it"
Hello,

I'm currently writing a WebSocket daemon to notify users when some data are updating. I want to retrieve some context from the WebSocket connection so I use the socket url to pass parameters. For example: `ws://127.0.0.1:8889/campaign/1/user/1`

To check that URL contains valid informations, I wrote a simple `onOpen` handler on my server. If the check does not pass, I close the connection.

[2016-08-04 05:48] Hywan commented on #70
Hello,

Did you try to listen the `close` event on the client?
Also, a side-note, `Websocket\Connection::close` has a second argument for the “reason”, so:
[code]
should do the trick and it saves one TCP message over the network.

Just curious: How did you implement the `getRequest` method?

[2016-08-04 05:50] Hywan commented on #69
So you want that the server replies to the client when a new message is coming, but also sending spontaneously messages to every client each *x* ticks, is it correct?

[2016-08-04 05:51] Hywan commented on #58
Sorry, got some troubles. Will be able to work on it.

[2016-08-04 06:43] Hywan commented on #58
@tomzx Can you retry with the patches in https://github.com/hoaproject/Websocket/pull/71 please?

[2016-08-04 08:39] shulard commented on #70
About the `getRequest` method I found it in `Websocket\Server` implementation : https://github.com/hoaproject/Websocket/blob/9b0418d2c465b8e4c9d6cc1c7e763da478fd0925/Server.php#L139

It allowed me to retrieve HTTP Request details from the incoming connection.

At the beginning I've used the second parameter for the "reason" on `Websocket\Connection::close` method and removed it I can't remember wh

[2016-08-04 15:36] tomzx commented on #58
With the patch (updated the whole `Connection.php` file using 3.16.07.05 for all the other files)

[code]

It appears that the number of connection opened/closed at least matches now.

As for my earlier comment about 503 errors with 500 connections, it might be related to the fact that if all client connected at the same time and sent their message, there would be 500*500 possible broadcasted mess

[2016-08-04 18:13] Shkarbatov commented on #69
Yes and yes.

I think, I can extend the loop circul, and call once in 3 seckonds my method that sending data to clients.

Whay You think abut this?

[2016-08-05 09:41] hhxsv5 opened #72 "Long cookie leads to handshake fail"
Hello guys.

When create websocket request with long long cookie, i will get a handshake fail error as the following.
WebSocket connection to 'ws://xxx.com:8088/' failed: Error during WebSocket handshake: net::ERR_CONNECTION_RESET

I found out the reason: **read 2048 bytes only**, cannot get the header "sec-websocket-key".
[code]

Any ideas ?

[2016-08-05 22:46] Pierozi commented on #72
Hi,

Did you confirm your HTTP Request have header greater **than 2048 bytes** ?
It's true is bit arbitrary to take first 2048 and then split at CR LF

The `Hoa\Http` Library are not finalized yet and i know we planned to rebuild as PSR-7 recommendation.

[2016-08-06 16:30] hhxsv5 commented on #72
Hi Pierozi,

Yes, my request header is greater than 2048 bytes because of encrypted cookie string.

I think taking all header is better until get "sec-websocket-key".

We encountered this issue on production environment, and it's really tough to me.

And, we temporarily solved by Cross-Origin: changing **Domain** into **IP**, so that the http request won't pass long cookie.

[2016-08-08 07:15] Hywan commented on #58
@tomzx So, do you consider this is fixed?

[2016-08-08 10:42] tomzx commented on #58
The issue where connections where not all closed seems to be fixed.

However, if I have a single websocket client (started in a chrome console) and I run the same test where this websocket is never killed, I would expect it to receive 500 messages, but that is currently not the case.

Setup:
* Start the server in a terminal
* In a chrome console:
[code]
* In the server terminal, you should see `co

[2016-08-08 11:18] Hywan commented on #58
The server records 501 connections, which is correct. It also records 500 disconnections, which is correct too (500 from PHP client and 1 —still alive— browser client).

The server receives 479 messages, over 500 (sent from the PHP clients with `ab`).

The browser client receives 479 messages, so all the messages have been correctly broadcasted to it.

So yes, your issue that you expect to receive

[2016-08-08 11:25] Hywan commented on #72
@Pierozi Do you think this is an issue for `Hoa\Http` instead?

[2016-08-08 11:28] Hywan commented on #69
You cannot have 2 infinite loops inside the same thread. When calling the famous `run` method, an infinite loop is starting. If you are starting another infinite loop inside a listener, this will not work.

I recommend 2 solutions: Using pthread, or using generators/co-routines libraries to simulate asynchronous execution. Most people uses pthread for this usages.

Or, you can use 2 servers.

[2016-08-08 11:30] Hywan commented on #70
Hmm, so the connection can be disconnected at this particular place too. How do you feel trying a patch?

[2016-08-08 11:32] Hywan commented on #70
I guess this is related to https://github.com/hoaproject/Websocket/pull/71. Can you reproduce your issue with this PR? If yes, then it does not fix your issue but this is related and I can update this PR.

[2016-08-08 12:26] tomzx commented on #58
The apache server logs do not contain any errors regarding any uncaught exceptions or any other fatal error.

[2016-08-08 12:27] Hywan commented on #58
OK, I am going to investigate.

[2016-08-08 13:38] Hywan commented on #58
Here is my result.

From `ab -n 500 -c 100 127.0.0.1:80/Client.php`:
[code]

From `php Server.php` (I print a summary for each connection, message, error or close):
[code]

From the browser:
![screen shot 2016-08-08 at 15 36 57](https://cloud.githubusercontent.com/assets/946104/17481531/fab65d24-5d7d-11e6-8ae8-c9793f46ed9d.png)
The message “Hello, World!” has been received 500 times.

So it seems

[2016-08-08 13:40] Hywan commented on #58
Without the PR #71, I have the following results.

From `php Server.php`:
[code]

From the browser:
[code]

[2016-08-08 13:41] Hywan commented on #58
Finally, if I call the `close` method in the client, I have 500 everywhere and 0 error.

From `php Server.php`:
[code]
From the browser:
[code]

[2016-08-08 13:44] Hywan commented on #58
And just because it's fun, here the result with 5000 connections and a concurrency level of 150.

From `ab -n 5000 -c 150 127.0.0.1:80/Client.php`:
[code]
From `php Server.php`:
[code]
From the browser:
[code]

**The success rate is 98.8%** with a high concurrency (150 is not bad).

[2016-08-08 13:52] Hywan commented on #58
With a better PHP-FPM configuration, I drop from 32sec to 15sec to execute 5000 connections:

From `ab -n 5000 -c 150 127.0.0.1:80/Client.php`:
[code]

[2016-08-08 14:57] shulard commented on #70
Hello !

I think I can try a patch, I know that library code better now 😄. I'm gonna try to reproduce with the #71 PR and post results here.

[2016-08-08 17:51] Pierozi commented on #72
@Hywan I guess yes, because we consider the responsibility of extract http header from `Hoa\Http`.
Maybe we should reconsider the implementation with a method can accept stream for extract itself the header instead spread first 2048 bytes.

In short time, maybe we can do a quick patch by moving 2048 as class parameter.
Like this he can change the value by 4096 ore more and be sure the header is co

[2016-08-09 07:06] Hywan commented on #72
@Pierozi Agree. Could you write the PRs and open the respective issues?

[2016-08-12 10:31] Pierozi opened #73 "Set header buffer size"
Refer to issue #72

Today the library will take arbitrary first [2048](https://github.com/hoaproject/Websocket/blob/master/Server.php#L92) bytes of stream and send them to Http library.
Until we design better interface on `Hoa\Http` we can still make the buffer size configurable.

Did we implement this parameter with Hoa\Zformat and array as argument of constructor ?

[2016-08-15 07:14] Hywan commented on #73
I guess this is better to increase it to `4092`. If it fixes the issue in #72, then this is good enough, and then we will address this issue in `Hoa\Http`. This is the cleaner solution. Thoughts?

[2016-08-15 09:58] Pierozi commented on #73
I don't know, @hhxsv5 use cookie encrypted, that depend of the encryption use.
2048 seems to me already big, even with huge Authorization token.
Can we have consequences if we increase the value ? apart from memory footprint on variable.

[2016-08-15 09:58] Pierozi commented on #72
Hello @hhxsv5 can you tell us what's the size of your header or provide us an example.
Thanks.

[2016-08-16 10:27] hhxsv5 commented on #73
I think it's better to read stream until we get header "sec-websocket-key" or eof.

other websocket projects:
https://github.com/Textalk/websocket-php/blob/master/lib/Server.php#L76
https://github.com/vakata/websocket/blob/master/src/Base.php#L96

[2016-09-14 22:15] Pierozi commented on #73
Hi @hhxsv5, the question was not how parse the header, but have enough data.
In your example, they dump the entries content of stream into local variable `$request`.

In our case, it is `Hoa\Http` responsible to parse header.
But library do not accept yet stream as argument.

It is not acceptable for us to dump entire stream content, because it's a stream... we only want here extract header part.

[2016-09-16 16:15] mmowbray commented on #73
Can we increase it to the maximum TCP frame size? 4096 is way too low for my needs. Thanks!

[2016-09-20 08:12] viratayya opened #75 "class not found"
i am following the same thing but still i am geting like this

error:PHP Fatal error:  Class 'Hoa\Websocket\Server' not found
and even i checked in vendor ther is hoa folder present

[2016-09-20 08:31] Hywan commented on #75
Hello 😃,

First, thanks for using Hoa!
Second, did you install `Hoa\Websocket` with Composer? If yes, did you include the `vendor/autoload.php` file? You may find this documentation useful https://hoa-project.net/Source.html#Dependency_manager_(Composer).

[2016-09-23 18:43] clounixeood opened #76 "Documentation wss"
Hello,

i would be thankful for the service that is really great but in your documentation about wss:// i see only to set the url wss:// on server side and client side but it is not enough, cause chrome does not connect to hoa websocket.

I think it is needed to have SSL certificates on server but it is not explained how to configure Hoa to choose the path for that certificate.

Thank you.
Andrea

[2016-09-26 09:21] Hywan commented on #76
Hello @clounixeood,

I am assigning @Pierozi, he would probably provide you interesting inputs about your questions!

[2016-09-26 09:59] clounixeood commented on #76
Thank you very much @Hywan for your prompt answer.
I will be glad to hear any input form your colleague @Pierozi

[2016-09-29 10:32] clounixeood commented on #76
Hi Guys, some news about it?

[2016-09-29 11:16] Pierozi commented on #76
Hello @clounixeood, sorry i planned to do a Snippet for you but have no time until Sunday.

If you want TLS on your socket, you need add your certificate in the context of Server.

[2016-09-29 11:33] Pierozi commented on #76
@clounixeood look at https://github.com/hoaproject/Socket/blob/master/Connection/Connection.php#L475

This MVE is bit old, but i think it could help you

https://github.com/Pierozi/Socket/blob/mwe/mwe/EasyServer.php

[2016-09-29 18:28] clounixeood commented on #76
Hello @Pierozi ,

thank you very much for your hints, i follow your guide and something changed.
Now, when i run the server i have :

[ MODE_CRYPTED ]
[Connection WAIT]

and its good.
But then the browser write :

WebSocket connection to 'wss://xxxxxx:1738/' failed: Error during WebSocket handshake: net::ERR_CONNECTION_RESET

Meantime the server write :
Connection from [79.7.42.245:54961|]
 < G

I

[2016-10-03 21:22] Pierozi commented on #38
@mspmakk I think your issues is this one, and i never solved the PR past 2 years ago :disappointed:
https://github.com/Pierozi/Socket/commit/60bd4b4ce37c587442efd44885e1ab63314e2870

[2016-10-03 23:17] Pierozi commented on #76
I can confirm we have a bug of enable TLS with WebSocket.

https://github.com/Pierozi/Websocket/pull/1/files#diff-5a72b4fa5efc1217f53f085c8580c79eR94

@Hywan I've setup MWE for debug, It's around Server handshake, first guess it is the missing call of `enableEncryption` in  ̀doHandshake` method. Verified with openssl tools cannot detect secure TLS connection.

But then the result of read is empty.

[2016-10-04 07:41] Hywan commented on #76
@Pierozi Can you open an issue please?

[2016-10-05 12:42] Hywan commented on #75
I am closing this issue but feel free to re-open it if you are still experiencing a problem.

[2016-10-05 12:42] #75 closed

[2016-10-05 21:45] Pierozi opened #77 "TLS Support"
The TLS support of WebSocket is partially working.
The `enableEncryption` method was forgot in Server side.

I've open a PR with demo on my Fork for trying to make it work. (certificate included)
Once the enableEncryption are fix; the php client are working, but not a web browser.

Maybe this is due to my certificate, self-signed, works great with php client because i've set context who allow self

[2016-10-05 21:50] Pierozi commented on #76
@clounixeood Please, look in my fork for up to date demo :
https://github.com/Pierozi/Websocket/tree/snippet/tls/snippet

If you try on your side you need install this patch https://github.com/hoaproject/Websocket/pull/78

[2016-10-10 22:34] Pierozi commented on #76
@clounixeood any news ? I would like really make it work encryption with your client usecase.

[2016-10-11 06:40] clounixeood commented on #76
Hello @Pierozi , i tried it yesterday evening.
As you suggested, i installed patch #78 and then i downloaded you examples changing you certificate path with mine. I have original certificates, not self-signed.

Unfortunately the error on the console of Chrome and Firefox is "Connection closed before handshake".

For now, i solved installing the extension proxy_wstunnel on my apache that take input

[2016-10-11 07:58] Hywan commented on #77
@Pierozi Why not having a self-signed certificate for both the client and the server and test with `Hoa\Websocket\Client` and `Hoa\Websocket\Server`? Where is the issue with this strategy?

[2016-10-11 08:03] Pierozi commented on #77
Huh ? Both ? It's web standard SSL handshake is one way, server side certificate.
My patch fix TLS issue for let `Hoa\WebSocket\Client` work with `Hoa\WebSocket\Server`
know we need make it compatible with others client, and maybe is not an `Hoa` issues.
You see if you setup Server with encryption, the client cannot work with the propers settings. because it's responsabilities to client to allow s

[2016-10-11 08:18] Pierozi commented on #76
Hello @clounixeood

Thanks for feedback, you confirm me it's not working even with trust certificate.
I will look with others WebSocket clients, I think issue is all related to decode correctly HTTPS trame.

[2016-10-14 06:27] Hywan commented on #69
Did you have your answer or should we keep this issue open?

[2016-10-31 06:07] qwe356558603 opened #83 "."

[2016-10-31 06:55] qwe356558603 commented on #83
![image](https://cloud.githubusercontent.com/assets/18321666/19846418/07b91bea-9f7a-11e6-9040-7d2db80bff29.png)

[2016-10-31 07:52] Hywan commented on #83
Please @vonglasow, can you take this one?

[2016-10-31 08:02] qwe356558603 commented on #83
My front end can be normal operation
![image](https://cloud.githubusercontent.com/assets/18321666/19847610/1e1e2caa-9f83-11e6-993f-561c5aa5e277.png)
** but  My PHP client will timeout** @vonglasow
![image](https://cloud.githubusercontent.com/assets/18321666/19847645/5935d5d6-9f83-11e6-85de-ddce0e304fa3.png)

[2016-10-31 09:20] qwe356558603 commented on #83
![image](https://cloud.githubusercontent.com/assets/18321666/19849448/5c171232-9f8e-11e6-9307-6107c2cfa5d7.png)

[2016-11-02 05:53] #83 closed

[2016-11-02 07:54] Hywan commented on #83
Huh? Why did you close the issue?

[2016-11-02 08:14] qwe356558603 opened #84 "I can only do it broadcast the current connection handshake，Refresh the browser node has changed, and know how to stay next time chat is this man"
![image](https://cloud.githubusercontent.com/assets/18321666/19921056/263987be-a117-11e6-9daa-e6e069a5e93a.png)

[2016-11-02 08:17] #84 closed

[2016-11-02 08:17] Hywan commented on #84
Please, can you do a correct issue? Set a correct title, set a correct description, and eventually, a script to reproduce. Thanks :-).

[2016-11-04 15:48] moirrer opened #85 "Connected clients on the server id"
Is there a way to get a list/$buckets/bucket_id from all current connected clients?
Trying to do an implementation where once client #1 sends a message the server sends another to clients #2 and #3, so is not a broadcast and not to origin.
Can I accomplish that with HoaWebsocket?

[2016-11-05 07:32] Hywan commented on #85
Hello @moirrer,

Yes, this is possible. You have the `broadcastIf` method, or you can grab all the connections at once with `$server->getConnection->getNodes()`.

[2016-12-24 11:41] pprasun commented on #41
Hi Hywan,

I have used the exact code you have used

use Hoa\Socket;
use Hoa\Websocket;
use Hoa\Core;

// Crappy but we need to read the temp. URL ;-).
$token = $argv[1];
$url = json_decode(
    file_get_contents(
        'https://slack.com/api/rtm.start?token=' . $token
    )
)->url;
var_dump($url);

// Parse the URL.
$parts = parse_url($url);
print_r($parts);

// Because this is wss://, it is se

[2016-12-24 12:33] shulard commented on #41
Hello, since this issue is now closed, I encourage you to open a new one because it seems that the problem is not directly related to the one solved here.

Also, we have now introduced a new way to interact with Websocket URLs by handling `ws` and `wss` transport natively.

You can write directly something like :

[code]

All the specific `wss` security features are now handled directly by the `ws

[2016-12-30 10:34] rokha commented on #77
Hi @Pierozi and @Hywan
I used this library into my PHP+Angular application and got an SSL certificate from letsencrypt. Post that I couldn't connect to the server as it would fail authentication. @Pierozi my client was in JS and I tested from Chrome and Mozilla while the server is LAMP with Laravel. Eventually, I switched back to http. I was wondering if you guys had a chance to peek under the hoo

[2016-12-30 10:53] Pierozi commented on #77
@rokha thanks for your feedback, issue is clearly related to our implementation of `Hoa\Http` beside `Hoa\WebSocket` the SSL Handshake fail.

Let's encrypt is a good candidate for our test, i will try to update my POC today with it and let you know.

btw, you didn't know a WebSocket client supporting TLS ?

[2016-12-30 20:03] rokha commented on #77
@Pierozi Initially I tested with a chrome extension I [found](https://chrome.google.com/webstore/detail/simple-websocket-client/pfdhoblngboilpfeibdedpjgfnlcodoo?hl=en). I tested `Hoa\WebSocket` for `ws` only. Later when my application started to work as expected, I switched `ws` to `wss` and it didn't. I hope this is what you were looking for.

[2017-01-06 18:03] Pierozi commented on #77
Hello @rokha, after couples research it seems no one really care about direct TLS encryption of websocket server because in real use case you will certainly have a Load balancer or Proxy webserver like Nginx who will deal the encryption and forward into your private network the websocket.

[2017-01-08 20:15] Hywan commented on #85
@moirrer Is your question answered?

[2017-01-08 20:15] Hywan commented on #77
ping?
https://github.com/hoaproject/Websocket/pull/78 has been merged. Can we close this one?

[2017-01-08 20:17] Hywan opened #86 "Fix documentation about the `close` method"
See http://discourse.hoa-project.net/t/hoa-websocket-hack-book-hoa/100/13 for more information.

The documentation mentions 3 arguments for the `close` method. This is wrong. We must fix that.

[2017-01-08 20:21] Hywan commented on #86
Documentation files are located here, https://github.com/hoaproject/Websocket/tree/master/Documentation.

See  [`hoa devtools:documentation`](https://github.com/hoaproject/Devtools#documentation) to locally generate the documentation. We can help!

[2017-01-09 08:08] Pierozi commented on #77
Encryption work between our Client and Server, but not with HTTPS Client.

[2017-01-09 08:45] Hywan commented on #77
@Pierozi What should we do to get it works?

[2017-01-09 20:09] moirrer commented on #85
Yes, thanks so much.

[2017-01-09 20:09] #85 closed

[2017-01-10 09:00] Hywan commented on #85
Thanks!

[2017-02-18 12:52] mkeyno opened #88 "websocket launch on remote host"
hi, I'm sorry to open ticket for my question , but actually I'm not pro in php and with your instruction not figure out how to install it in my remote directory host , and really appreciate for couple of hints , in fact I've tried to hook url on my host to the Telegram webhoock call back bot, so at first step new update data inserted to MySQL database then websoket server give the update data to d

[2017-02-20 13:40] Pierozi commented on #88
Hello @mkeyno, deal with webstock require a good knowledge of web server implementation and system processus.

The PHP Websocket server is a php script run by command line (CLI)
The way of setup cPanel for this depend of the system behind.

I guess you should look at how setup PHP Service / Command line with cPanel.

PS: I do not recommend cPanel to manage your server.

[2017-03-09 11:44] avo7 opened #89 "Only one char read to buffer on secure connection"
Hi.

I've got a websocket server and I connect to it both with a PHP client and a browser JS client. On localhost, with unsecure connection it works fine. On production however, where `wss://` is used, the PHP client can talk to the server normally, the browser client however encounters "Connection closed before receiving a handshake response".

I dug a bit into it, and found out, that the request

[2017-03-09 12:15] Hywan commented on #89
Hello 😄,

I guess @Pierozi can help you. However, can you give us the code of your server please?

[2017-03-09 12:17] avo7 commented on #89
@Hywan https://gitlab.com/Avris/Dibsy/tree/master/app/Service/Socket

[2017-03-10 11:56] Pierozi commented on #89
Hello @avo7 Thanks for this report, this issue is related to #77
It's good you came with fresh information.

Can you share with us your HTML Client snippet ?
You can find my test here : https://github.com/Pierozi/Websocket/blob/snippet/tls/snippet/client.html

Interesting your patch with `$buffer === 'G'` because in my all test, i've endup with empty string, not `G`
The problem is clearly in the S

[2017-03-10 12:00] avo7 commented on #89
Hi. The browser client code is here: https://gitlab.com/Avris/Dibsy/blob/master/app/Asset/coffee/modules/project.coffee

Good luck with finding the cause :)

[2017-03-24 13:00] Hywan commented on #89
@Pierozi Any idea on this one?

[2017-03-24 13:04] Hywan commented on #88
I am closing this issue because it looks like it is inactive. Please, ask to re-open it if you need more answers!

[2017-03-24 13:04] #88 closed

[2017-03-24 14:14] Hywan commented on #73
I think we should really revamp the `Hoa\Http` library. However, a temporary non-breaking patch would be to increase it to 4096.

@Pierozi Could you just increase the size to 4096 in #74, without the addition of new methods. Thanks!

[2017-03-24 14:20] Hywan commented on #58
#71 was the last PR related to this issue, and I guess all problems have been solved. If I am wrong, please, ping me and I will reopen this story.

Thanks for the report! It was very helpful to get better stability!

[2017-03-24 14:20] #58 closed

[2017-03-24 18:28] mkeyno commented on #88
thanks@hywan , yes actually I've moved to node.js and its more easy for me to launch websocket server

[2017-03-30 17:45] humayunghani commented on #76
@clounixeood Thanks alot buddy! you might didn't know when you wrote this last comment about setting up a proxy_wstunnel and do internal ws:// connection but your comment really made my day and helped me to set up wss:// connection without messing up with HoaWebsocket code. Works like a charm.

[2017-03-31 08:14] Pierozi commented on #73
@Hywan Ok I will do that, I also think it's for the best at this time.

[2017-04-03 08:39] clounixeood commented on #76
Glad to hear your success!! Have a nice day.

*Andrea Bernardi*
Amministratore unico
----------------------------------------------------
Phone Italy : +39 329 185 0770
Phone Bulgaria : +359 89 458 1071

Sede legale
22, Slavyanska Ulitza
1000 Sofia - Bulgaria
------------------------------------------------------
VAT BG203224475 | EIC 203224475

This e-mail (including attachments) is intended only

[2017-05-30 15:28] YnievesDotNet opened #92 "About audio streaming"
Best Regards HOA Project.

Some time ago I read, dont remenber where, about use of Hoa Websocket for audio and video streaming?

I have some devices connected to an websocket, running with laravel as backend. I need send audio, from a mic to this devices, any idea about this??

Thanks.

Yoinier.

[2017-05-31 06:36] Hywan commented on #92
Hello,

I am not aware of such a use case, but I would go with binary text message. However, WebSocket relies on TCP, which is not suitable for audio streaming. UDP is better in this area. I would suggest you to take a look at WebRTC if you would like to stay in the Web stack.

[2017-06-05 08:43] tikagnus opened #93 "Send message to a specific Client from another place than $server->on('message'..)"
Hi guys. I'm working on a app that manage some IoT devices. Devices are WebSockets client connected to my app.
Is there any method to send a message to a specific client from other place than $server->on(..) ?
I want to send messages to device from my controller class.

[code]

Here I try to link client connection with a unique node instance.
[code]

[2017-06-05 15:39] Pierozi commented on #93
Hello @tikagnus
The `Hoa\WebSocket` is event based. I recommend you to listen `open` connection and keep the `Hoa\WebSocket\Connection` object of the clients in your internal code.

Then on each of this Connection object, you are able to use `send` method as you which.

Do not forget to listen also `close` as a garbage collector.

[2017-06-05 17:35] tikagnus commented on #93
Hi @Pierozi.  Thanks for reply. I already tried to serialize/cache Connection Object, but when i try to use, i get this error
[code]

[2017-06-05 17:50] Pierozi commented on #93
`Serialize` ? You (cannot / do not) serialize a php resource or any `stream`

During the time where your WebSocket Server listens to connection, he should handle his pool of clients and theses client keep in a stack like `SplObjectStorage`.

[2017-06-12 14:19] YnievesDotNet opened #94 "Vue and websocket"
I try to use the demo code, on one app and I use vue in this app, but the code is broken and I recive this error

[code]

Thanks.

Yoinier.

[2017-06-12 14:24] Hywan commented on #94
Maybe a little bit of code would help a lot :-).

[2017-06-12 14:50] YnievesDotNet commented on #94
That is my code
[code]

Thanks, Yoinier.

[2017-06-12 15:59] Pierozi commented on #94
Hello @YnievesDotNet
This error means the DomElement `input` is not yet ready when the Javascript is executed.
You should embed the javascript code on function and execute it after the onload event.

[2017-06-27 21:02] okdana opened #95 "Data read from socket doesn't match expected length"
Hello!

I've been using `Hoa\Websocket` to interface with Chromium's debugging protocol in order to print PDFs. Chromium returns the PDF data in the response as a base64-encoded string, which can grow quite long (several MiB). I found that the response that i was getting back was the wrong size, usually severely truncated (tens of KiB).

To rule out an issue with Chromium, i created a `server.php`

[2017-06-28 06:50] Hywan commented on #95
Hello, and thank you for your exemplary bug report 👏! This is all clear.

I can reproduce the bug.

I have added some debug instructions directly into `Hoa\Socket\Connection\Connection` into the `read` and `write` methods. Here is what I have (comments with `//` represent my annotations)

From the server:

[code]

From the client:

[code]

So, I guess `stream_socket_recvfrom` does not read the who

[2017-07-17 12:23] Pierozi commented on #95
Hello @okdana, thanks for this great report, I will work on it asap.

[2017-07-17 12:24] Pierozi commented on #95
This could explain our issue related to TLS handshake too

[2017-08-07 08:53] Hywan commented on #95
Do you have a clue on this one @Pierozi?

[2017-08-20 10:21] Pierozi commented on #95
Yes i've made some fix test. The max stream buffer size depend of the system and method used. We  have to loop until the buffer is empty or the expected length is extracted.

We have to deal with encrypted and unencrypted mode, because `fread` is limited to 8192Bytes.
We could also set `stream_set_read_buffer` to 0 to unbuffered. But a stream without buffer does not sound great.

I will submit a P

[2017-08-27 15:59] tikagnus commented on #93
Hi guys. You can close this issue. I was able to achive what I wanted.
Good job with this library.

[2017-08-27 16:25] tikagnus commented on #42
Hi guys. I have a question regarding close listener. Currently I am developing a iot device. I found an issue. When my iot device is disconnected from power source or internet connection, the close listener is not triggered. How should i handle this ? Thanks.

[2017-08-27 16:27] #93 closed

[2017-08-28 09:25] Hywan commented on #42
@tikagnus Interesting use case. Could you open a new issue with a code example please?

[2017-08-30 14:19] olegstan opened #98 "Test failure"
I run tests on my server and got this errors

There are 4 failures
Hoa\Math\Test\Unit\Visitor\Arithmetic::case_visitor_exhaustively():
In file /usr/share/nginx/html/vendor/hoa/math/Test/Unit/Visitor/Arithmetic.php on line 98, mageekguy\atoum\asserters\phpFloat() failed: float(1610074.7993529) is not nearly equal to float(1610074.799353) with epsilon 1.0E-14
-Expected
+Actual
@@ -1 +1 @@
-float(161

[2017-09-01 06:42] Hywan commented on #98
Hello,

How are you running the tests please? I see you have errors from `hoa/math`, `hoa/websocket`, `hoa/socket`, and `hoa/ustring`.

[2017-09-06 02:09] Dirape opened #99 "Bucket Send problem"
Hello,  iam trying to save users in special room using
SplObjectStorage
For example
$data->room[$room_id]->attach($bucket);
foreach($data->room[$room_id] as $buck)
{

$buck->getSource()->send("new user");
}
The problem that this method send the msg each time for the same user inserted  in first line
...
I need to save the users and send msg for each

[2017-09-06 07:32] Hywan commented on #99
Hello,

Why are you using a `SplObjectStorage` to store objects as keys of your hashmap if, in your loop, you are only binding on the value (`$buck`)? Based on [the documentation](http://php.net/manual/en/splobjectstorage.attach.php), `$buck` must be `null` despite the implementation says the opposite. There is either a bug in the documentation, or in the implementation… anyway.

You are storing u

[2017-09-06 08:46] Dirape commented on #99
i did it by this method
adding user to object room
` $node = $bucket->getSource()->getConnection()->getCurrentNode();
       $room->users->attach($node);`

and then on  message
`
    foreach($room->users as $node)
    {

        $bucket->getSource()->send($message,$node);

    }`
and it works !

[2017-09-06 09:24] #99 closed

[2017-09-13 12:26] undsoft opened #100 "Try to change the stream resource with an invalid one; given unknown type when trying to broadcastIf in on close."
Hi,

I have several JS clients connected to websocket server. They are organized into channels (I store Node objects).
Now one of the clients (client A) disconnects.
In PHP server, I'm listening to 'close' event and want to tell other clients in that room that A has disconnected.

Here's my code:

[code]

However, when I do this I get this message:
[code]

Any ideas?

[2017-09-14 09:10] undsoft commented on #100
I can work around it by marking client as disconnect in on close and then actually telling everybody about it in on message.
Still would be nice to fix this or at least document it.

[2017-09-14 17:54] Hywan commented on #100
Hello,

I am in the opposite side of the world right now and I can't work on this issue. Maybe @vonglasow or @Pierozi?

[2017-09-15 12:02] undsoft opened #101 "Closing client from server closes other clients as well?"
Hello, my dear friends.

I need to say that it has been challenging trying to incorporate the library into a production environment :)

Scenario:
1. User A connects.
2. User B connects.
3. After some time when User B sends a message, and in onMessage handler, server decides to disconnect user A.
4. Server does:
[code]

where $node is the stored node of user A.

ER: User A is disconnected.
AR: Both

[2017-09-15 12:50] undsoft commented on #101
Doing
[code]
doesn't help, it still writes disconnect message to the current node, when I'm trying to remove the other node.

[code]
This seems to be working, but probably bad code.

[2017-09-19 11:29] Neofox commented on #26
Hello, any news on the implementation of WAMP?
Thanks

[2017-09-25 08:38] Hywan commented on #101
Hello & sorry for the late reply, most of the team is AFK.

Are you able to provide me a code to reproduce your issue? Network issues are really hard to debug and to reproduce. I would bet that this usecase is already handled and something else is happening, and I would love to know what :-).

Thanks!

[2017-09-25 08:39] Hywan commented on #101
cc @Pierozi

[2017-09-25 08:39] Hywan commented on #26
@Neofox We have zero demand for that yet, and it is a huge work. We are not going to implement this specification if no one asks it :-).

[2017-09-25 14:56] undsoft commented on #101
@Hywan
https://github.com/undsoft/hoa-websocket-bug

[2017-09-26 13:38] Hywan commented on #101
OK, I have a clue. Hard to explain, especially because I am sick and I am not sure. Will try to work on this issue the next couple of days. If you don't have any news from me, feel free to ping me :-).

[2017-10-11 12:31] undsoft commented on #72
Same issue happens for me.
My header:
[code]

[2017-10-11 13:13] undsoft commented on #72
I can work around this by setting up an apache websocket proxy.
This proxy fixes my problems with SSL that I had with the library and also strips cookies.

Example config:
[code]

[2017-10-11 13:14] undsoft commented on #101
Bump

[2017-10-22 13:23] Pierozi commented on #95
Short update here, we have two possibilities to solve this issue, depending of how the PR 53 on `\Hoa\Socket` will be implemented.

[2017-10-22 13:38] Pierozi commented on #101
I think is directly retaled to the way we manage the Nodes, This PR could fix the issue but not sure
https://github.com/hoaproject/Socket/pull/50

[2018-01-11 12:27] cntaoyu opened #103 "how can i get url query string value?"
eg:`ws://127.0.0.1:8000/?id=1&name=abcd`

how to get `name=abcd`?

[2018-01-22 10:22] Hywan commented on #103
Hello,

Sorry for the late reply.

The query strings are parsed correctly and appended to the path here (line 121):

https://github.com/hoaproject/Websocket/blob/a2a5964ed4daf971d4780476359d39be3d4ce046/Socket.php#L117-L122

which is passed to the `$endpoint` here:

https://github.com/hoaproject/Websocket/blob/a2a5964ed4daf971d4780476359d39be3d4ce046/Socket.php#L67

So you can read it with `getEnd

[2018-01-22 10:23] Hywan commented on #103
However, I suppose it won't work. I'm not sure the server strips off the query strings from the client.

What are you trying to achieve :-)?

[2018-02-08 15:55] marmotz opened #105 "How can I do action every x seconds/ticks/whatever ?"
Hi everyone,

I want to do a given action every x seconds or ticks.

Is there a way to do that ?

[2018-02-09 11:11] Pierozi commented on #105
Hello :)
Can you bit more specific? Did you want a `Hoa\Websocket\Server` send indefinitely message to client  within a interval?

[2018-02-09 11:20] marmotz commented on #105
Well... I don't know how to be more specific.

My need is to check a local variable and resend message if there was no response from client.
So I want to check this variable every "tick" to check message sent one minute ago and resend it.
But this is so specif to my app.

My need is a global need: to do an action every x seconds and not on a given event (message, ping, etc...)

For the moment, I u

[2018-02-09 16:39] Pierozi commented on #105
I dunno if this is possible right now, because the `run` method will be blocked by `stream_select`
It mean, even with concurrent tasks generator that should probably don't work with another loop.

The easier solution in your case is to spawn a client for this purpose. You can have a local daemon or a cronjob that will send message to server with specific key that make the job you want to do.

If y

[2018-02-09 16:48] marmotz commented on #105
I think my workaround will do the job :-/

[2018-02-12 09:04] Hywan commented on #105
The next version of `hoa/websocket` will rely on `hoa/future` and a new version of `hoa/socket`. It will allow that. Right now, it's not possible. Sorry.

[2018-02-12 09:04] #105 closed, assigned to nobody

[2018-02-12 09:26] marmotz commented on #105
Good news, thanks Hywan :)

[2018-03-01 16:45] JulesPrimo opened #106 "Same connection used by two clients ?"
Hello,
I'm trying to work with a browser and a PHP client simultaneously (with TLSv1.2), everything works fine between the browser and my server, it works fine if my PHP client is the first to connect but if I have an open connection between the browser and the server, this part of `Client::doHandshake`

` $buffer   = $connection->read(2048);`

`$response = $this->getResponse();`

`$response->pars

[2018-03-23 09:21] marmotz commented on #101
Any news ?

[2018-03-23 09:24] marmotz opened #108 "Close a given node by nodeId"
Hi,

is it possible to close a given node by its ID ?

[2018-06-05 09:00] #106 closed, assigned to nobody

[2018-08-17 12:37] Shkarbatov commented on #69
Can we create something like this: [https://github.com/Shkarbatov/WebSocketPHPWorkerman/blob/master/worker.php](https://github.com/Shkarbatov/WebSocketPHPWorkerman/blob/master/worker.php) ?

[2018-08-17 14:41] Hywan commented on #69
This is almost the actual API of `Hoa\Websocket\Server` or `Hoa\Websocket\Client`. You add listeners, and you run the instance.

What do you mean?

[2018-08-17 15:20] Shkarbatov commented on #69
Can I send data from server to client with Hoa like I do this with workerman?
Not sending every second request from web through WebSockets to server.

[2018-08-17 21:59] Pierozi commented on #69
Hello @Shkarbatov, Yes, as long you save the client (fro source bucket) during client established connection to the server.

[2018-08-20 06:36] Shkarbatov commented on #69
Thanks for answer, do you have any example?

[2018-08-21 12:56] Shkarbatov commented on #69
**Trying next:**

**Worker:**
[code]

**Web Client:**
[code]

**PHP Client:**
[code]

Web client connected to worker and save his backet, then I run php client and worker receive message, find backet needed web client and send message, but it not send and I don't have any errors.

Any idea what it can be?

[2018-08-22 10:18] Shkarbatov commented on #69
Any idea, why it is not working?

[2018-08-23 08:22] Shkarbatov commented on #69
Well, problem next:

**I saved bucket next:**

[code]

**And then, when I want to send:**

[code]

if I will not put Socket\Node as the second parametr of the send function it will used current node:

[code]

This is ok, but if I will used Node from saved backed:

[code]

It will return current node, not saved node.

**So I need to save separate bucket and node:**

[code]

**And when send message

[2018-11-24 14:43] gfdac opened #109 "Always crash server when client disconnect."
Error: fwrite(): SSL operation failed with code 1. OpenSSL Error messages:
error:140D00CF:SSL routines:SSL_write:protocol is shutdown

Always. a simple refresh and the server crash.

[2019-03-18 08:30] zsp00 commented on #73
what ？？？  Not fixed yet... wasted hours looking for problems

[2019-03-18 09:00] hhxsv5 commented on #73
@zhusipu Finally, I built the WebSocket server with [Swoole](https://github.com/swoole/swoole-src).

[2019-08-15 11:32] dependabot-preview[bot] opened #110 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-08-26 16:27] #110 closed, assigned to nobody

[2019-08-29 12:33] dependabot-preview[bot] opened #111 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2020-01-06 08:16] mr-1024 opened #112 "Operation timed out (nothing to accept)"
PHP Fatal error:  Uncaught Hoa\Socket\Server::select(): (3) Operation timed out (nothing to accept).
in /usr/local/nginx/html/websocket/vendor/hoa/socket/Server.php at line 337.
  thrown in /usr/local/nginx/html/websocket/vendor/hoa/socket/Server.php on line 337

[2020-12-13 16:22] MargotDumoulin opened #113 "Cannot find how to send message to customized Node"
Hello!

I'm working on a project that manages Quizzs.
For this project, I need to send message to specific users that are stored in different rooms.
One room is made of two users.
Each time one user sends a message to the WebSocket server, the server needs to send a message to both users in the room.

The beginning of my code looks like that:

[code]
And If I simplify my code, it looks something l

[2020-12-16 11:14] #111 closed, assigned to nobody

[2020-12-16 11:14] dependabot-preview[bot] opened #114 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/hoaproject/update-logs/59538326).

[2020-12-22 11:14] #114 closed, assigned to nobody

[2020-12-22 11:14] dependabot-preview[bot] opened #115 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/hoaproject/update-logs/60334896).

[2021-05-25 19:48] alexolliveira opened #117 "Connection is closed"
Console: WebSocket connection to 'ws://127.0.0.1:8889/' failed, WebSocket is already in CLOSING or CLOSED state
I'm using Google Chrome(90.0.4430.212) 64bits